/* NAVBAR */
.search-form {
  position: relative;
}
.search-form input {
  padding-left: 25px;
}
.search-form img {
  position: absolute;
  left: 6px;
  top: 15px;
}
/*  */
.body {
  display: flex;
}
/* sidebar */
.sidebar {
  /* position: fixed; */
  width: 200px;
  text-transform: capitalize;
}
.sidebar-link {
  margin: 20px 10px;
}
.links {
  margin-top: 10px;
}
/*  */
.home-container {
  width: 60%;
}
.heading {
  position: relative;
}
.heading h3 {
  display: inline-block;
  /* margin-top: 10px; */
  width: 70%;
  margin-top: 7px;
}
.btn {
  display: inline-block;
  position: absolute;
  padding: 0.3em 1.2em;
  /* margin: 0 0.3em 0.3em 0; */
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  right: 2px;
  top: 3px;
}
.btn:hover {
  background-color: #4095c6;
}
@media screen and (max-width: 30em) {
  /*   */
}
/*  */
.askQuestionConatiner {
  width: 60%;
}
