/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
}
.search-form {
  position: relative;
  width: 70%;
}
.search-form input {
  padding-left: 25px;
}
.search-form img {
  position: absolute;
  left: 6px;
  top: 15px;
}
/*  */
.body {
  display: flex;
}
/* sidebar */
.sidebar {
  position: sticky;
  top: 744px;
  /* position: relative; */
  width: 150px;
  height: 1000px;
  text-transform: capitalize;
}
.sidebar hr {
  /* position: absolute; */
  position: relative;
  transform: rotate(90deg);
  width: 900px;
  top: 430px;
  right: 315px;
}
.sidebar-link {
  margin: 20px 10px;
}
.links {
  margin-top: 10px;
}
/*  */
@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
.home-container {
  width: 60%;
}
.heading {
  position: relative;
}
.heading h3 {
  display: inline-block;
  /* margin-top: 10px; */
  width: 70%;
  margin-top: 7px;
}
.btn {
  display: inline-block;
  position: absolute;
  padding: 0.3em 1.2em;
  /* margin: 0 0.3em 0.3em 0; */
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  right: 2px;
  top: 3px;
}
.btn:hover {
  background-color: #4095c6;
}
@media screen and (max-width: 30em) {
  /*   */
}
/*  */
.questionList h2 {
  padding: 10px;
}
/* .question {
} */
#side-count {
  padding: 0 20px;
}
#side-count h5 {
  padding-left: 26px;
  margin-bottom: 0;
}
#votes-p {
  padding-left: 9px;
}
.askQuestionConatiner {
  width: 60%;
}
/*  */
.singleQuestionContainer {
  margin-left: 10px;
}
.singleQuestionHead {
  margin-top: 10px;
  justify-content: center;
  position: relative;
}
.singleQuestionBody {
  display: flex;
}
.singleQuestionBody aside {
  width: 80px;
}
.vote-btn {
  border: none;
  background-color: white;
}
span {
  margin-left: 12px;
  font-size: 1.2rem;
}
