.navbar-container {
  background-color: #e3f2fd;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
}
.navbar-div {
  margin: auto;
}
.nav-link {
  text-decoration: none;
  color: grey;
}
.logout-btn {
  border: none;
  padding: 0;
  background-color: #e3f2fd;
  color: gray;
}
.logout-btn:hover {
  color: black;
}
.nav-link:hover {
  color: black;
}
.navbar-collapse {
  margin-right: auto;
  width: 30%;
}
.icon-div {
  margin: auto auto;
}
.navbar-toggler {
  display: none;
  padding-top: 5px;
  margin-left: auto;
}
.search-form {
  position: relative;
  width: 70%;
}
.search-input:focus {
  border-color: #4170f0;
  box-shadow: 0 0 2px #4170f0;
}
.search-form input {
  padding-left: 28px;
}
.search-form img {
  position: absolute;
  left: 8px;
  top: 6px;
}
.navbar-list {
  display: flex;
  padding: 0;
}
.navbar-list li {
  margin: 0 14px;
}
.navbar-brand {
  margin-left: 50px;
}
.navbar-brand a {
  height: 36;
}
.navbar-brand img {
  border-radius: 20%;
  width: 32px;
  height: 32px;
}
.navbar-brand span {
  position: relative;
  left: 5px;
  bottom: 7px;
  color: rgb(97, 12, 76);
}
/* #dropdownSearch {
  background-color: ;
} */

.dropdown-search-form {
  margin-left: 30%;
  padding: 0 0 10px;
  position: relative;
  width: 70%;
}
.dropdown-search-input:focus {
  border-color: #4170f0;
  box-shadow: 0 0 2px #4170f0;
}
.dropdown-search-form input {
  padding-left: 28px;
}

.dropdown-search-form img {
  position: absolute;
  left: 8px;
  top: 5px;
}
/*  */
.main {
  display: flex;
}

/* sidebar */

.sidebar {
  position: sticky;
  top: 70px;
  width: 150px;
  height: 1000px;
  text-transform: capitalize;
}
.sidebar hr {
  position: relative;
  transform: rotate(90deg);
  width: 900px;
  top: 440px;
  right: 315px;
  border-bottom: none;
}
.sidebar-link {
  margin: 20px 10px;
}
.sidebar-link-item {
  font-size: large;
  text-decoration: none;
}
.links {
  margin-top: 10px;
}
#firstLink {
  margin-top: 40px;
}

/* home */
.home-container {
  width: 100%;
}
.home-header {
  position: relative;
  margin-top: 20px;
}
.home-header h2 {
  display: inline-block;
  width: 70%;
  margin-top: 14px;
  padding-left: 18%;
}
.questions-heading h2 {
  display: inline-block;
}
.btn {
  display: inline-block;
  /* position: absolute; */
  padding: 0.3em 1.2em;
  margin-left: 100px;
  /* margin: 0 0.3em 0.3em 0; */
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  /* right: 0;
  top: 10px; */
}
.btn:hover {
  background-color: #4095c6;
}

.home-body {
  /* position: relative; */
  margin-top: 60px;
  display: flex;
}
.home-img {
  width: 300px;
}
.div1 {
  width: 40%;
  margin-left: 10%;
}
.div1 h1 {
  color: #1944bb;
}
.div2 {
  margin-left: 5%;
  position: relative;
  /* left: 10%; */
}
.div2 img {
  /* position: absolute; */
  right: 10%;
}

@media screen and (max-width: 700px) {
  .navbar-collapse {
    display: none;
  }
  /* .list-div {
    margin: 0;
  } */
  .icon-div {
    margin-right: 8px;
  }
  .navbar-toggler {
    display: inline-block;
  }
  .navbar-brand {
    margin-left: 10%;
  }
}
/* @media screen and (max-width: 700px) {
  .navbar-brand span {
    display: none;
  }
} */
@media screen and (min-width: 600px) {
  #dropdownSearch {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .div2 {
    right: 5%;
  }
}
@media screen and (max-width: 650px) {
  .home-body {
    display: block;
  }
  .div1 {
    width: auto;
    margin-left: 20%;
  }
  .div2 {
    left: 17%;
  }
}

/*  */
.questionList h2 {
  padding: 10px;
}
.question {
  display: flex;
}
#side-count {
  padding: 0 20px;
}
#side-count h4 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 15px;
}
#side-count p {
  margin-top: 0;
  text-align: center;
}
.question-content h2 {
  margin: 3px auto 0;
  padding: 0;
}
.question-content p {
  margin-top: 10px;
  margin-bottom: 7px;
}
.question-content h4 {
  margin-top: 10px;
}
h4 span {
  color: rgb(196, 61, 21);
}
.tags a {
  font-size: 1.15rem;
  text-decoration: none;
  margin-right: 9px;
  color: #4095c6;
}
.tags a:hover {
  color: #1944bb;
}
.askQuestionConatiner {
  width: 60%;
}
/* Single Question */
.singleQuestionContainer {
  margin-left: 10px;
}
.singleQuestionHead {
  margin-top: 10px;
  justify-content: center;
  position: relative;
}
.singleQuestionBody {
  display: flex;
}
.singleQuestionBody aside {
  max-width: 70px;
  text-align: center;
  margin-right: 10px;
}
.vote-btn {
  border: none;
  background-color: white;
}
.answer-btn {
  display: block;
  padding: 0.4em 0.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #4170f0;
  text-align: center;
  position: relative;
}
.answer-btn:active {
  top: 0.1em;
}
.answer-btn:hover {
  background-color: blue;
}
@media all and (max-width: 30em) {
  .answer-btn {
    display: block;
    margin: 0.4em auto;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
  .btn {
    right: 10%;
  }
  .question-content h2 {
    font-size: 1.3em;
  }
  .question-content p {
    margin-top: 10px;
    margin-bottom: 7px;
  }
  .navbar-brand span {
    display: none;
  }
  .list-div {
    margin: 0;
  }
  .navbar-list li {
    margin: 0 10px;
  }
}

/* ask */
.form-container button {
  margin-top: 20px;
}

/* about us */
.about {
  text-align: center;
}
.about h2 {
  color: #1944bb;
}
.about p {
  font-size: large;
}

.error-body {
  position: relative;
  text-align: center;
  top: 150px;
}
