/* NAVBAR */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #e3f2fd;
}
.navbar-toggler {
}
.search-form {
  position: relative;
  width: 70%;
}
.search-form input {
  padding-left: 28px;
}
.search-form img {
  position: absolute;
  left: 8px;
  top: 16px;
}
.navbar-nav {
  display: flex;
}
/*  */
.main {
  display: flex;
}
/* sidebar */
.sidebar {
  position: sticky;
  top: 70px;
  width: 150px;
  height: 1000px;
  text-transform: capitalize;
}
.sidebar hr {
  position: relative;
  transform: rotate(90deg);
  width: 900px;
  top: 430px;
  right: 315px;
}
.sidebar-link {
  margin: 20px 10px;
}
.links {
  margin-top: 10px;
}
/*  */
@media screen and (max-width: 830px) {
  .sidebar {
    display: none;
  }
}
.home-container {
  width: 60%;
}
.heading {
  position: relative;
}
.heading h3 {
  display: inline-block;
  /* margin-top: 10px; */
  width: 70%;
  margin-top: 7px;
}
.btn {
  display: inline-block;
  position: absolute;
  padding: 0.3em 1.2em;
  /* margin: 0 0.3em 0.3em 0; */
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  right: 2px;
  top: 3px;
}
.btn:hover {
  background-color: #4095c6;
}
@media screen and (max-width: 30em) {
  /*   */
}
/*  */
.questionList h2 {
  padding: 10px;
}
.question {
  display: flex;
}
#side-count {
  padding: 0 20px;
}
#side-count h5 {
  padding-left: 26px;
  margin-bottom: 0;
}
#votes-p {
  padding-left: 9px;
}
.question-content p {
  margin-bottom: 5px;
}
.question-content span {
  font-size: 1.15rem;
  margin-right: 9px;
  color: #4095c6;
}
.askQuestionConatiner {
  width: 60%;
}
/*  */
.singleQuestionContainer {
  margin-left: 10px;
}
.singleQuestionHead {
  margin-top: 10px;
  justify-content: center;
  position: relative;
}
.singleQuestionBody {
  display: flex;
}
.singleQuestionBody aside {
  max-width: 70px;
  text-align: center;
  margin-right: 10px;
}
.vote-btn {
  border: none;
  background-color: white;
}
.answer-btn {
  display: block;
  padding: 0.4em 0.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #4170f0;
  text-align: center;
  position: relative;
}
.answer-btn:active {
  top: 0.1em;
}
.answer-btn:hover {
  background-color: blue;
}
@media all and (max-width: 30em) {
  .answer-btn {
    display: block;
    margin: 0.4em auto;
  }
}
.sidebar-link-item {
  text-decoration: none;
}
